@font-face {
    font-family: 'Ballpark';
    src: url("fonts/ballpark.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dayrom';
    src: url("fonts/dayrom.ttf");
    font-weight: normal;
    font-style: normal;
}
/* generic style */
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/fond_jaune.png") ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #181818;

}
.wrapper{   
    width: 900px;
    margin: auto;
}

a{
    text-decoration: none;
}

/* Header disposition */
 header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   background: url("images/separateur.png") repeat-x bottom;
}

.main-title{    
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.logo img{
    width: 59px;
    height: 60px;
}

header h1{
    font-family: 'Ballpark';
    margin: 0 0 0 10px;
    font-size: 2em;
    font-weight: normal;
}
header h2{
    font-family: 'dayrom';
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}
.nav_links{
    display: flex; 
    list-style-type: none;

}
.nav_links li{
    margin-right: 15px;
}
.nav_links a{
    color: black;
    font-family: 'dayrom';
    text-transform: uppercase;
    font-size: 1.1em;
}

/* nav effect */
header a:hover{
    text-decoration: underline;
    color: #760001;
}


/* Banner style*/
.banner{
    margin-top: 10px;
    background: url("images/sanfrancisco.jpg") no-repeat;
    height: 219px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* display: flex; */
}
.banner img{
    /* width: 900px; */
    border-radius: 10px;

}
.banner p{
    background: rgba(0, 0, 0, 0.3);
    color: white;
    margin-bottom: 0;
}

button{
    border-radius: 5px;
    background: linear-gradient(rgb(185, 0, 0) 0%, rgb(203, 76, 92) 50%, rgb(185, 0, 0) 100%);
    border: none;
}
button a{
    color: white;
}