@font-face {
    font-family: 'Ballpark';
    src: url("fonts/ballpark.eot");
}
@font-face {
    font-family: 'dayrom';
    src: url("fonts/dayrom.eot");
}

html, body{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/fond_jaune.png") ;
}

/* stlye header */


/* Header disposition */
 header{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   border: solid green;
   padding: 0 15px;
}

.main-title{    
    border: solid 2px blue ;
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border: solid purple;
}
.logo img{
    width: 59px;
    height: 60px;
}
nav{
    border: solid red;
}
.nav_links{
    margin: 0;
    padding: 0;
    display: flex; 
    list-style-type: none;
}
.nav_links li{
    margin-right: 15px;
    border: solid;
}
.nav_links a{
    text-decoration: none;
    color: black;
}
